{% extends "layout.html.twig" %}

{% block content %}
    
    <div class="container">
        
        
        <h1> Bienvenido a Mum's </h1>
        
        {% if sucessMessage is defined and sucessMessage|length > 0 %}
            <div class="alert alert-success"> {{sucessMessage}} </div>
        {% endif %}
        
        {% if errorMessage is defined and errorMessage|length > 0 %}
            <div class="alert alert-danger"> {{errorMessage}}</div>
        {% endif %}
        
        <div class="col-lg-7 menu">
            {% for product in products %}
           
                <!-- Producto -->
                <div class="row product">
                    <div class="col-lg-4">
                      {{product.name}}
                    </div>
                    <div class="col-lg-4">
                     {{product.price}} {{currencySymbol}} / {{product| productType}}
                    </div>
                    <div class="col-lg-4">
                        
                        <form method="POST" action="/addToCart">
                            <input name="productId" type="hidden" value="{{product.id}}">
                            <input type="submit" value="+" class="btn btn-warning">
                        </form>
                    </div>
                </div>
            {% endfor %}
            
        </div>
        
        <div class="col-lg-push-1 col-lg-4 cart">
            <div class="row">
                <div class="col-lg-12">
                    
                    <form method="POST" action="/makeRequest">
                        <input type="submit" value="Hacer pedido" class="btn btn-success btn-action-cart">
                    </form>
                    
                    <form method="POST" action="/clearCart">
                        <input type="submit" value="Cancelar carrito" class="btn btn-danger btn-action-cart">
                    </form>

                    <div class="list_products_cart">
                         <div class="row row-name-products">
                                
                                <div class="col-lg-2">
                                    
                                </div>
                                <div class="col-lg-4">
                                    Nombre
                                </div>
                                <div class="col-lg-3">
                                    Cantidad
                                </div>
                                <div class="col-lg-3">
                                    Precio
                                </div>
                            </div>
                        <div class="row separator-bar"></div>
                            
                                                
                        {% for userProduct in userProducts %}
                            <div class="row product-item">
                                <div class="col-lg-2">
                                    
                                    <form method="POST" action="/removeFromCart">
                                        <input name="productId" type="hidden" value="{{userProduct.id}}">
                                        <input type="submit" value="-" class="btn btn-danger">
                                    </form>
                                </div>
                                <div class="col-lg-5">
                                    {{ userProduct.name }}
                                </div>
                                <div class="col-lg-2">
                                    {{ userProduct.amount }}
                                </div>
                                <div class="col-lg-3">
                                    {{ userProduct.price }} {{currencySymbol}}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="row separator-bar"></div>
                    
                    <div class="row row-name-products">
                        <div class="col-lg-6">
                            Descuento
                        </div>
                        <div class="col-lg-3 col-lg-push-3">
                            {{ totalDiscount }} {{currencySymbol}}
                        </div>
                    </div>
                        
                    <div class="row row-name-products">
                        <div class="col-lg-6">
                            Total pedido
                        </div>
                        <div class="col-lg-3 col-lg-push-3">
                            {{ totalPrice }} {{currencySymbol}}
                        </div>
                    </div>
                        
                    <div class="row row-name-products">
                        <div class="col-lg-6">
                            Precio final
                        </div>
                        <div class="col-lg-3 col-lg-push-3">
                            {{ finalPrice }} {{currencySymbol}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
