<!DOCTYPE html>
<html>
    <head>
        <title>{% block title '' %} - Mum's</title>

        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <link href="{{ asset('css/main.css') }}" rel="stylesheet" type="text/css" />
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        
        <nav class="navbar">
            <div class="container">
                <a class="navbar-brand logo" href="#">Mum's</a>
            </div>
        </nav>
        
        {% block content %}{% endblock %}
    </body>
</html>
